.img-inner-border {
    border: 2em solid white;
    border-radius: 7em;
}

.img-blue-outer-border {
    border: 1.5em solid blue;
    border-radius: 7em;
    transition: transform .4s;
}
.img-blue-outer-border:hover {
    transform: scale(1.3);
}

.img-yellow-outer-border {
    border: 1.5em solid yellow;
    border-radius: 7em;
    transition: transform .4s;
}
.img-yellow-outer-border:hover {
    transform: scale(1.3);
}

.img-red-outer-border {
    border: 1.5em solid red;
    border-radius: 7em;
    transition: transform .4s;
}
.img-red-outer-border:hover {
    transform: scale(1.3);
}

/* Esta es la clase que, puesta en el svg, setea parte del tamaño de la imàgen svg. La otra parte se la setea con la propiedad "viewBox" de la etiqueta svg. */
.objects-style {
    background-color: white;
    width: 10em;
    height: 10em;
}

.paper-position {
    position: relative;
    left: 14.5em;
}

.scissor-position {
    position: relative;
    right: 1em;
}

.triangle-position {
    position: relative;
    top: 9em;
    left: 7em;
    z-index: -1;
}

.triangle-style {
    width: 21em;
    height: 21em;
}

.stone-position {
    position: relative;
    top: 16em;
    right: 22.6em;
}







@media screen and (max-width: 991px ) {

    .img-inner-border {
        border: 1.5em solid white;
        border-radius: 15em;
    }
    
    .img-outer-border {
        border: 1em solid blue;
        border-radius: 10em;
    }
    
    .objects-style {
        width: 7em;
        height: 7em;
    }

    .paper-position {
        left: 10em;
    }
    
    .scissor-position {
        left: 0em;
    }
    
    .triangle-position {
        top: 6em;
        left: 5em;
    }

    .triangle-style {
        width: 14em;
        height: 14em;
    }
    
    .stone-position {
        top: 11em;
        right: 16.8em;
    }
}